@using VentasWeb.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Mi Tienda Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/PluginsCSS")
    @RenderSection("estilos", required: false)
</head>
<body>

    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-info" style="font-weight:bold">
        <a class="navbar-brand" href="#">
            <img src="@Url.Content("~/Imagenes/tiendalogo.png")" width="110" height="45" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" name="Home" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Inicio</a>
                </li>
                @Html.ActionLinkAllow()
                <li class="nav-item">
                    <a class="nav-link" href="https://ouo.io/VRgLgZ" target="_blank"><i class="fas fa-hands-helping"></i> Click y ayuda al Canal</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a href="@Url.Action("Salir", "Home")" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>
                            <strong>Salir</strong>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/PluginsJS")

    <script type="text/javascript">

        $.extend({ MisUrls: { url: {}, urls: function (a) { $.extend($.MisUrls.url, a); } } });

        //CONTROLADOR ROL
        $.MisUrls.urls({ _ObtenerRoles: '@Url.Action("Obtener", "Rol")' });
        $.MisUrls.urls({ _GuardarRol: '@Url.Action("Guardar", "Rol")' });
        $.MisUrls.urls({ _EliminarRol: '@Url.Action("Eliminar", "Rol")' });

        //CONTROLADOR PERMISOS
        $.MisUrls.urls({ _ObtenerPermisos: '@Url.Action("Obtener", "Permisos")' });
        $.MisUrls.urls({ _GuardarPermisos: '@Url.Action("Guardar", "Permisos")' });


        //CONTROLADOR USUARIO
        $.MisUrls.urls({ _ObtenerUsuarios: '@Url.Action("Obtener", "Usuario")' });
        $.MisUrls.urls({ _GuardarUsuario: '@Url.Action("Guardar", "Usuario")' });
        $.MisUrls.urls({ _EliminarUsuario: '@Url.Action("Eliminar", "Usuario")' });

        //CONTROLADOR PROVEEDOR
        $.MisUrls.urls({ _ObtenerProveedores: '@Url.Action("Obtener", "Proveedor")' });
        $.MisUrls.urls({ _GuardarProveedor: '@Url.Action("Guardar", "Proveedor")' });
        $.MisUrls.urls({ _EliminarProveedor: '@Url.Action("Eliminar", "Proveedor")' });

        //CONTROLADOR CATEGORIA
        $.MisUrls.urls({ _ObtenerCategorias: '@Url.Action("Obtener", "Categoria")' });
        $.MisUrls.urls({ _GuardarCategoria: '@Url.Action("Guardar", "Categoria")' });
        $.MisUrls.urls({ _EliminarCategoria: '@Url.Action("Eliminar", "Categoria")' });


         //CONTROLADOR PRODUCTO
        $.MisUrls.urls({ _ObtenerProductos: '@Url.Action("Obtener", "Producto")' });
        $.MisUrls.urls({ _ObtenerProductosPorTienda: '@Url.Action("ObtenerPorTienda", "Producto")' });
        $.MisUrls.urls({ _GuardarProducto: '@Url.Action("Guardar", "Producto")' });
        $.MisUrls.urls({ _EliminarProducto: '@Url.Action("Eliminar", "Producto")' });
        $.MisUrls.urls({ _ObtenerAsignaciones: '@Url.Action("ObtenerAsignaciones", "Producto")' });
        $.MisUrls.urls({ _RegistrarProductoTienda: '@Url.Action("RegistrarProductoTienda", "Producto")' });
        $.MisUrls.urls({ _ModificarProductoTienda: '@Url.Action("ModificarProductoTienda", "Producto")' });
        $.MisUrls.urls({ _EliminarProductoTienda: '@Url.Action("EliminarProductoTienda", "Producto")' });


        //CONTROLADOR TIENDA
        $.MisUrls.urls({ _ObtenerTiendas: '@Url.Action("Obtener", "Tienda")' });
         $.MisUrls.urls({ _GuardarTienda: '@Url.Action("Guardar", "Tienda")' });
        $.MisUrls.urls({ _EliminarTienda: '@Url.Action("Eliminar", "Tienda")' });

        //CONTROLADOR COMPRA
        $.MisUrls.urls({ _ObtenerCompras: '@Url.Action("Obtener", "Compra")' });
        $.MisUrls.urls({ _GuardarCompra: '@Url.Action("Guardar", "Compra")' });
        $.MisUrls.urls({ _DocumentoCompra: '@Url.Action("Documento", "Compra")' });


        //CONTROLADOR VENTA
        $.MisUrls.urls({ _ObtenerUsuario: '@Url.Action("ObtenerUsuario", "Venta")' });
        $.MisUrls.urls({ _ObtenerProductoStockPorTienda: '@Url.Action("ObtenerProductoPorTienda", "Venta")' });
        $.MisUrls.urls({ _ControlarStockProducto: '@Url.Action("ControlarStock", "Venta")' });
        $.MisUrls.urls({ _RegistrarVenta: '@Url.Action("Guardar", "Venta")' });
        $.MisUrls.urls({ _DocumentoVenta: '@Url.Action("Documento", "Venta")' });
        $.MisUrls.urls({ _ObtenerVentas: '@Url.Action("Obtener", "Venta")' });

        //CONTROLADOR REPORTE
        $.MisUrls.urls({ _ObtenerReporteProducto :'@Url.Action("ObtenerProducto", "Reporte")' });
        $.MisUrls.urls({ _ObtenerReporteVenta :'@Url.Action("ObtenerVenta", "Reporte")' });


        //CONTROLADOR CLIENTE
        $.MisUrls.urls({ _ObtenerClientes: '@Url.Action("Obtener", "Cliente")' });
        $.MisUrls.urls({ _GuardarCliente: '@Url.Action("Guardar", "Cliente")' });
        $.MisUrls.urls({ _EliminarCliente: '@Url.Action("Eliminar", "Cliente")' });


        //lenguaje español datatable
        $.MisUrls.urls({ Url_datatable_spanish: '@Url.Content("~/content/plugins/datatables/js/datatable_spanish.json")' });



    </script>
    <script>

        function activarMenu(menuactivo) {

            var ul = $("ul.navbar-nav");
            ul.find("li.nav-item").each(function (i, li) {

                var a;

                if ($(li).find("div.dropdown-menu").length != 0) {

                    var div = $($(li).find("div.dropdown-menu"))
                   
                    div.find("a.dropdown-item").each(function (x, tagA) {
                        if ($(tagA).attr("name") == menuactivo) {
                            
                            $(li).addClass("active");
                            return false;
                        }
                    })
                } else {

                    a = $(li).find("a.nav-link");

                    if ($(a).attr("name") == menuactivo) {
                        $(li).addClass("active");
                        return false;
                    }
                }
            });
        }

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>